@import "theme.rasi"

configuration {
  font: "Iosevka Nerd Font 10";
  show-icons: false;
  threads: 0;
  scroll-method: 0;
  disable-history: false;
  fullscreen: false;
  hide-scrollbar: true;
  sidebar-mode: false;
  location: 7;
}

window { transparency: "real"; background-color: @background; text-color: @foreground; border-radius: 20px; height: 27%; width: 17%; x-offset: 30; y-offset: -90; }
mainbox { background-color: @background; children: [ inputbar, listview ]; spacing: 5px; padding: 5px; }
inputbar { children: [ prompt ]; background-color: @background; text-color: @foreground; border: 0px 0px 1px 0px; border-radius: 20px; border-color: @border; }
prompt { enabled: true; padding: 4px 4px 6px 6px; background-color: @background; text-color: @foreground; }
listview { background-color: @background; columns: 1; spacing: 4px; cycle: true; dynamic: true; layout: vertical; }
element { background-color: @background; text-color: @foreground; orientation: horizontal; border-radius: 4px; padding: 6px; }
element-text { expand: true; horizontal-align: 0; vertical-align: 0; margin: 2px 0px 2px 2px; }
element selected { background-color: @selected; text-color: @background; border-radius: 20px; }
