* { background: #090d12f2; surface: #354052; foreground: #f1f4f8; muted: #8c98aa; accent: #ff496c; selected-normal-background: @accent; selected-normal-foreground: #090d12; }
window { background-color: @background; border-color: @accent; }
mainbox, inputbar, listview { background-color: transparent; }
entry, prompt { text-color: @foreground; }
element { background-color: transparent; text-color: @foreground; }
element selected { background-color: @selected-normal-background; text-color: @selected-normal-foreground; }

